<div class="container-fluid  h-100">
    <div class="row justify-content-center h-100">
        <div class="half-top">
            <div id="panel" class="widget stacked widget-table action-table">
				<div class="widget-header">
					<i class="icon-th-list"></i>
					<h3>Request List</h3>
				</div> <!-- /widget-header -->
				<div class="widget-content">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Name</th>
                                <th>Phone Number</th>
                                <th>Pickup Address</th>
                                <th>Found Address</th>
                                <th>lat</th>
                                <th>lng</th>
                                <th>Note</th>
								<th class="td-actions">Finish</th>
							</tr>
						</thead>
						<tbody id="data-table-body">
							{{#each data_table}}
                            <tr>
                                <td class="request-id" style="display:none;" value="{{id}}"></td>
                                <td>{{name}}</td>
                                <td>{{phone_number}}</td>
                                <td>{{pickup_address}}</td>
                                <td>{{formatted_address}}</td>
                                <td>{{lat}}</td>
                                <td>{{lng}}</td>
                                <td>{{note}}</td>
                                <td>
                                    <form>
                                        <input type="hidden" name="id" value="{{id}}">
                                        <input type="submit" value="Send">
                                    </form>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
				</div> <!-- /widget-content -->
			</div> <!-- /widget -->
        </div>
        <div class="half-bottom">
            <input id="pac-input" class="controls" type="text" placeholder="Search Box">
            <div id="map"></div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js"></script>
<script type="text/javascript" src="/scripts/map-api-script.js"></script>

<script type="text/javascript">
    window.onload = function() {
        init();
        setupSSE();
    }

    var init = function() {
        $("tr").click(function () {
            $('.selected').removeClass('selected');
            $(this).addClass("selected");

            var myLatLng = {
                lat: parseFloat($(this).find('td')[5].innerHTML),
                lng: parseFloat($(this).find('td')[6].innerHTML)
            };
            addMarker(myLatLng);
        });

        $(function () {
            $('form').on('submit', function (e) {
                var dat = $(this).serialize();
                let number = dat.match(/\d+(\.\d+)?/)[0];
                $.ajax({
                    type: 'post',
                    url: '/sendLocatedRequestToRequestManagement',
                    data: dat,
                    success: function () {
                        $(`td[value='${number}']`).parent().remove();
                    }
                });
                e.preventDefault();
            });
        });
    }

    var setupSSE = function() {
        if (typeof(EventSource) === 'undefined') {
            console.log('not support');
            return;
        }

        var src = new EventSource('http://localhost:3001/userRequestAddedEvent');

        src.onerror = function(e) {
            console.log('error: ' + e);
        }

        src.addEventListener('USER_REQUEST_ADDED', function(e) {
            var data = JSON.parse(e.data);
            var arr = [data];
            
            var source = '{{{template}}}';
            var template = Handlebars.compile(source);
            var html = template(arr);
            document.getElementById('data-table-body').innerHTML += html;

            init();
        }, false);
    }
</script>