<div class="container">
  <div class="offset-md-3 col-md-6">
      <div class="form-area">  
          <form>
          <br style="clear:both">
            <h3 style="margin-bottom: 25px; text-align: center;">Contact Form</h3>
            <div class="form-group">
              <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="Phone Number" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="pickup_address" name="pickup_address" placeholder="Pickup Address" required>
            </div>
            <div class="form-group">
              <textarea class="form-control" type="textarea" id="note" name="note" placeholder="Note" maxlength="140" rows="7"></textarea>
            </div>
              
          <input type="submit" value="Submit" class="btn btn-primary">
          </form>
      </div>
  </div>
</div>