<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-7 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Login Form</h5>
            <form class="form-signin" action="/login" method="POST">
               <div class="form-label-group">
                <input type="text" id="username" name="username" class="form-control" placeholder="Email address" required autofocus>
                <label for="username">Username</label>
              </div>
              <div class="form-label-group">
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                <label for="password">Password</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Login</button>
              <hr>
              <div class="row justify-content-center mt-4">
                <a href="/register">Register</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>