<div class="container-fluid  h-100">
    <div class="row justify-content-center h-100">
        <div class="half-top">
            <div id="panel" class="widget stacked widget-table action-table">
				<div class="widget-header">
					<i class="icon-th-list"></i>
					<h3>Request List</h3>
                    <button type="button" class="btn btn-outline-dark float-right" onclick="sendFindDriversRequest()">Find Drivers</button>
				</div> <!-- /widget-header -->
				<div class="widget-content">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Name</th>
                                <th>Phone Number</th>
                                <th>Pickup Address</th>
                                <th>Found Address</th>
                                <th>lat</th>
                                <th>lng</th>
                                <th>Note</th>
                                <th>Driver</th>
                                <th>State</th>
								<th class="td-actions">Distance</th>
							</tr>
						</thead>
						<tbody id="data-table-body">
							{{#each data_table}}
                            <tr>
                                <td style="display:none;" value="{{id}}"></td>
                                <td>{{name}}</td>
                                <td>{{phone_number}}</td>
                                <td>{{pickup_address}}</td>
                                <td>{{formatted_address}}</td>
                                <td>{{lat}}</td>
                                <td>{{lng}}</td>
                                <td>{{note}}</td>
                                <td>{{driver_name}}</td>
                                <td style="display:none;" value="{{driver_lat}}"></td>
                                <td style="display:none;" value="{{driver_lng}}"></td>
                                {{{printState state}}}
                                <td>
                                    <button type="button" class="show-distance-btn" onclick="">Show</button>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
				</div> <!-- /widget-content -->
			</div> <!-- /widget -->
        </div>
        
        <div class="half-bottom">
            <input id="pac-input" class="controls" type="text" placeholder="Search Box">
            <div id="map"></div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js"></script>
<script type="text/javascript" src="/scripts/map-api-script.js"></script>
<script type="text/javascript" src="/scripts/utility.js"></script>

<script type="text/javascript">
    window.onload = function() {
        //init();
        setupSSE();
    }

    Handlebars.registerHelper('printState', function(state) {
        if (state == null || state.toLowerCase() == "unlocated") {
            return `<td class="w-100 badge badge-secondary">Unlocated</td>`;
        } else if (state.toLowerCase() == "located") {
            return `<td class="w-100 badge badge-success">Located</td>`;
        } else if (state.toLowerCase() == "taken") {
            return `<td class="w-100 badge badge-primary">Taken</td>`;
        } else if (state.toLowerCase() == "moving") {
            return `<td class="w-100 badge badge-info">Moving</td>`;
        } else if (state.toLowerCase() == "finished") {
            return `<td class="w-100 badge badge-warning">Finished</td>`;
        } else {
            return `<td class="w-100 badge badge-danger">Unknown</td>`;
        }
    }); 

    var init = function() {
        $("tr").click(function () {
            $('.selected').removeClass('selected');
            $(this).addClass("selected");

            var myLatLng = {
                lat: parseFloat($(this).find('td')[5].innerHTML),
                lng: parseFloat($(this).find('td')[6].innerHTML)
            };
            addMarker(myLatLng);
        });
    }

    var setupSSE = function() {
        if (typeof(EventSource) === 'undefined') {
            console.log('not support');
            return;
        }

        var addedEvent = new EventSource('http://localhost:3002/userRequestAddedEvent');
        var updatedEvent = new EventSource('http://localhost:3002/userRequestUpdatedEvent');

        addedEvent.onerror = function(e) {
            console.log('error: ' + e);
        }

        updatedEvent.onerror = function(e) {
            console.log('error: ' + e);
        }

        addedEvent.addEventListener('USER_REQUEST_ADDED', function(e) {
            var data = JSON.parse(e.data);
            var arr = [data];
            
            var source = '{{{template}}}';
            debugger
            var template = Handlebars.compile(source);
            var html = template(arr);debugger
            document.getElementById('data-table-body').innerHTML += html;

            //init();
        }, false);

        updatedEvent.addEventListener('USER_REQUEST_UPDATED', function(e) {
            var data = JSON.parse(e.data);
            var arr = [data];
            
            var source = '{{{template}}}';
            var template = Handlebars.compile(source);
            var html = template(arr);

            debugger
            var a = $(`td[value='${data.id}']`).parent()
            a[0].innerHTML = html;

            //init();
        }, false);
    }
</script>