<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand text-white">Driver App</a>
  <div class="alert alert-success p-0 m-1" role="alert">
    <strong class="ml-1">READY</strong>
    <label class="switch m-0">
      <input id="readyCheckBox" type="checkbox">
      <span class="slider"></span>
    </label>
  </div>
    
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/login">None</a>
    </div>
  </div>
</nav>

<!-- Modal -->
<div id="d-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">New Request</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
    <button id="d-accept-btn" type="button" class="btn btn-primary" data-dismiss="modal">Accept</button>
    <button id="d-decline-btn" type="button" class="btn btn-danger" data-dismiss="modal">Decline</button>
    </div>
  </div>
  </div>
</div>

<div id="driver-stage" style="display:none;" value="{{stage}}"></div>
<div id="map"></div>

<button id="d-start-btn" type="button" class="btn btn-primary left-bottom-btn">START</button>
<button id="d-finish-btn" type="button" class="btn btn-primary left-bottom-btn">FINISH</button>


<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script src="/scripts/map-api-script.js"></script>
<script src="/scripts/map.js"></script>