<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Register Form</h5>
            <form class="form-signin" action="/register" method="POST">
              <div class="form-label-group">
                <input type="text" id="username" name="username" class="form-control" placeholder="Email address" required autofocus>
                <label for="username">Username</label>
              </div>
              <div class="form-label-group">
                <input type="text" id="name" name="name" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputEmail">Name</label>
              </div>
              <div class="form-label-group">
                <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputEmail">Email address</label>
              </div>
              <div class="form-label-group">
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                <label for="inputPassword">Password</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>